@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .nav-menu {
        display: flex;
        justify-content: space-around;
        position: static;
        width: auto;
        background: none;
        padding: 0;
    }

    .nav-menu li a {
        padding: 0.3rem;
        font-size: 0.9rem;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        margin-top: 5px;
    }

    .about {
        grid-column: 1;
    }

    .photo {
        grid-column: 2;
    }

    .courses {
        grid-column: 1 / span 2;
    }



    .logo img {
        width: 85px;
        height: 70px;
        border-radius: 10px;
    }

    .logo img:hover {
        transform: scale(1.1);
    }

    .about header h3, .photo header h3, .courses header h3 {
        text-align: center !important;
        display: block;
        margin: 0 auto;
        padding: 0.5rem;
        position: relative;
        z-index: 800; /* Ensure headers are below nav */
    }
    
    
    .about, .photo, .courses {
        background-color: #fff;
        padding: 1.5rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        position: relative;
        z-index: 800; /* Match headers */
    }


    .photo-placeholder {
        height: 250px;
        width: 250px;
    }

    .photo img {
        width: 250px;
        height: 250px;
    }

    .social-links img {
        width: auto;
        height: 40px;
    }

    #course-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .course-card {
        text-align: center;
    }

    .section-nav {
        top: 60px;
    }

    footer {
        background-color: #a80758;
        color: white;
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
    }

    .close-menu {
        display: none !important;
    }
}